<template>
	<section class="copyField" :class="{'copyField--shown': shown}">
		<article class="copyField__header">
			<span class="copyField__header__summary">
				{{ summary }}
				<a :href="exportUrl" target="_blank" class="copyField__header__summary__export">Export CSV</a>
			</span>
			<button type="button" class="copyField__header__showMoreButton" @click="handleShowMoreClicked">
				<FontAwesomeIcon
					:icon="showButtonIcon"
					class="copyField__header__showMoreButton__icon" />
				Show {{ shown ? 'Less' : 'More' }}
			</button>
		</article>
		<article class="copyField__buttons">
			<span class="copyField__buttons__table">
				<button type="button" class="copyField__buttons__table__copyButton" @click="handleCopySelectedClicked">
					<FontAwesomeIcon icon="copy" />
					Copy Selected
				</button>
				<span class="copyField__buttons__table__selectAllButton">
					<FontAwesomeIcon icon="check-double" class="copyField__buttons__table__selectAllButton__icon" />
					<input type="checkbox" class="copyField__buttons__table__selectAllButton__checkbox"
						   id="copyField__buttons__table__selectAllButton__checkbox"
						   @change="handleSelectAllClicked" :checked="allTableRowsSelected">
					<label for="copyField__buttons__table__selectAllButton__checkbox"
						   class="copyField__buttons__table__selectAllButton__label">
						Select All
					</label>
				</span>
			</span>
			<button type="button" class="copyField__buttons__copyButton" @click="handleCopyFieldClicked">
				<FontAwesomeIcon icon="clipboard" class="copyField__copyButton__icon" />
				Copy to Clipboard
			</button>
		</article>
		
	</section>
</template>

<style scoped lang="scss">
 $text-white: #eee;
 $button-color: #2A4954;
 $copy-field-peek: -55px;
 $copy-field-shown: 0;

 .copyField {
	 background-color: #f8fafc;
	 border-radius: 12px 12px 0 0;
	 min-width: 480px;
	 width: 60vw;
	 padding: 8px 16px;
	 box-shadow: 2px 2px 16px 16px #44444411;

	 z-index: 2;
	 position: fixed;
	 left: 50%;
	 transform: translateX(-50%);

	 display: flex;
	 flex-flow: column;
	 align-items: center;
	 justify-content: center;

	 animation: 1s copy-field-hide forwards;

	 @keyframes copy-field-hide {
		 from {
			 bottom: $copy-field-shown;
		 }

		 to {
			 bottom: $copy-field-peek;
		 }
	 }

	 &--shown {
		 animation: 1s copy-field-show forwards;

		 @keyframes copy-field-show {
			 from {
				 bottom: $copy-field-peek;
			 }

			 to {
				 bottom: $copy-field-shown;
			 }
		 }
	 }
	 
	 &__header {
		 display: flex;
		 flex-flow: row nowrap;
		 justify-content: space-between;
		 align-items: flex-end;
		 width: 100%;
		 margin-bottom: 16px;

		 &__summary {
			 display: flex;
			 flex-flow: row nowrap;
			 align-items: flex-end;

			 font-size: 1.2rem;
			 padding: 0;
			 margin: 0;
			 line-height: 1.2rem;

			 &__export {
				 margin-left: 8px;
				 border: none;
				 background: none;
				 color: #2A4954;
				 font-weight: 700;
				 padding: 8px 8px 0 8px;
				 text-decoration: none;

				 &:hover {
					 background-color: #0000000a;
					 border-radius: 0.9rem;
				 }
			 }
		 }

		 &__showMoreButton {
			 background: none;
			 border: none;

			 border-radius: 8px;

			 &, & * {
				 color: #2a3354;
				 font-weight: 700;
				 font-size: 0.9rem;
			 }

			 &:hover {
				 background-color: #eee;
			 }
		 }
	 }

	 &__buttons {
		 width: 100%;

		 display: flex;
		 flex-flow: row nowrap;
		 justify-content: space-between;

		 &__table {
			 &__copyButton {
				 background-color: $button-color;
				 border: none;
				 color: $text-white;
				 padding: 8px;
				 font-weight: 600;
				 border-radius: 4px;
				 margin-right: 8px;
			 }

			 &__selectAllButton {
				 border: #ccc 2px solid;
				 border-radius: 24px;
				 padding: 8px;
				 font-weight: 600;
				 color: $button-color;

				 &--checked {
					 border-color: $button-color;
					 background-color: lighten($button-color, 10%);
					 color: $text-white;
				 }

				 &:hover {
					 border-color: $button-color;
					 background-color: lighten($button-color, 10%);
					 color: $text-white;

					 & * {
						 cursor: pointer;
					 }
				 }

				 &__icon {
					 margin-right: 4px;
				 }
				 
				 &__checkbox {
					 display: none;
				 }
			 }
		 }

		 &__copyButton {
			 background-color: #2A3354;
			 border: none;
			 color: #eee;
			 font-size: 1rem;
			 font-weight: 600;
			 border-radius: 4px;
			 padding: 8px;
			 margin-left: auto;
		 }
	 }

	 &__textarea {
		 margin-top: 8px;
		 width: 100%;
		 background: none;
		 border: #ccc 2px solid;
		 border-radius: 4px;
		 padding: 8px;
		 resize: none;
	 }
 }
</style>

<script setup>
 import { onUpdated } from 'vue';

 const props = defineProps({
	 summary: String,
	 text: String,
	 exportUrl: String,
	 showButtonIcon: String,
	 shown: Boolean,
	 allTableRowsSelected: Boolean
 });

 const emit = defineEmits([
	 'copyFieldClicked',
	 'showMoreClicked',
	 'update:text',
	 'copySelectedClicked',
	 'selectAllClicked'
 ]);

 onUpdated(() => {
	 if (props.text.length > 0) {
		 const textarea = document.querySelector('.copyField__textarea');
		 textarea.focus();
		 textarea.setSelectionRange(0, textarea.value.length);
	 }

	 if (props.allTableRowsSelected) {
		 document.querySelector('.copyField__buttons__table__selectAllButton')
				 .classList.add('copyField__buttons__table__selectAllButton--checked')
	 } else {
		 document.querySelector('.copyField__buttons__table__selectAllButton')
				 .classList.remove('copyField__buttons__table__selectAllButton--checked')
	 }
 });

 function handleCopyFieldClicked() {
	 const textarea = document.querySelector('.copyField__textarea');

	 emit('copyFieldClicked', textarea.value);
 }

 function handleTextInput(event) {
	 emit('update:text', props.text + event.target.value);
 }

 function handleShowMoreClicked() {
	 emit('showMoreClicked');
 }

 function handleSelectAllClicked(event) {
	 const selectAllButton = event.target.closest('.copyField__buttons__table__selectAllButton');

	 const selected = 'table__body__row--selected';
	 const buttonChecked = 'tableButtons__selectAllButton--checked';

	 if (event.target.checked) {
		 if (!selectAllButton.classList.contains(buttonChecked)) {
			 selectAllButton.classList.add(buttonChecked);
		 }
	 } else {
		 selectAllButton.classList.remove(buttonChecked);
	 }

	 document.querySelectorAll('.table__body__row').forEach(row => {
		 if (event.target.checked) {
			 if (!row.classList.contains(selected)) row.classList.add(selected);
		 } else {
			 row.classList.remove(selected)
		 }
	 });

	 emit('selectAllClicked', event.target.checked);
 }

 function handleCopySelectedClicked() {
	 emit('copySelectedClicked');
 }
</script>