<template>
	<section class="search">
		<article class="search__container">
			<input class="search__input" type="search" placeholder="Search Part Number" :value="searchTerm"
				   @input="handleSearchInput" @keyup.enter="handleSearchClicked" autofocus>
			<button type="button" class="search__button" @click="handleSearchClicked">
				<FontAwesomeIcon icon="search" size="lg" />
			</button>
		</article>
		<article class="search__filters">
			<fieldset class="search__filters__categories">
				<legend class="search__filters__categories__legend">Categories</legend>
				<div class="search__filters__categories__item" v-for="(category, index) in categories" :key="index"
					 :class="{ 'search__filters__categories__item--selected':
						 categoriesSelected.includes(category.category) }">
					 <FontAwesomeIcon icon="plus" class="search__filters__categories__item__plusIcon"
										   v-if="!categoriesSelected.includes(category.category)" />
					<FontAwesomeIcon icon="times" class="search__filters__categories__item__timesIcon"
									 v-if="categoriesSelected.includes(category.category)" /> 
					<input type="checkbox" :id="'category' + index" class="search__filters__categories__item__input"
						   v-model="categoriesSelected" @click="handleCategoryClicked" :value="category.category">
					<label :for="'category' + index" class="search__filters__categories__item__label">
						{{ category.category }}
					</label>
				</div>
			</fieldset>
			<fieldset class="search__filters__conditions">
				<legend class="search__filter__conditions__legend">Condition</legend>
				<div v-for="(condition, index) in conditions" :key="index" class="search__filters__conditions__item"
							:class="{ 'search__filters__conditions__item--selected':
								conditionsSelected.includes(condition.con) }">
					 <FontAwesomeIcon icon="plus" class="search__filters__conditions__item__plusIcon"
										   v-if="!conditionsSelected.includes(condition.con)" />
					<FontAwesomeIcon icon="times" class="search__filters__conditions__item__timesIcon"
									 v-if="conditionsSelected.includes(condition.con)" /> 
					<input type="checkbox" :id="'condition' + index" class="search__filters__conditions__item__input"
						   :value="condition.con"
						   v-model="conditionsSelected" @click="handleConditionClicked">
					<label :for="'condition' + index" class="search__filters__conditions__item__label">
						{{ condition.con }}
					</label>
				</div>
			</fieldset>
		</article>
	</section>
</template>

<style scoped lang="scss">
 $filter-border: #999;
 $filter-color-selected: #d1e0ee;
 
 .search {
	 margin: 16px auto auto auto;
	 width: 80vw;
	 
	 &__input {
		 border: none;
		 background: none;
		 flex-grow: 2;
		 font-size: 1.2rem;

		 &:focus {
			 outline: none;
		 }
	 }

	 &__button {
		 border: none;
		 background: none;
		 color: #555;
		 width: 60px;
	 }

	 &__container {
		 display: flex;
		 flex-flow: row nowrap;
		 padding: 0 0 0 12px;

		 margin: 0 auto;
		 width: 80%;
		 height: 48px;
		 box-shadow: rgba(0,0,0,0.2) 2px 2px 4px 2px;
		 border-radius: 4px;
	 }

	 &__filters {
		 margin-top: 24px;
		 display: flex;
		 flex-flow: row;
		 justify-content: space-between;
		 align-items: flex-start;

		 &__conditions {
			 margin-left: 1vw;
		 }

		 &__conditions, &__categories {
			 margin-top: 0;
			 display: flex;
			 flex-flow: row wrap;

			 &__item {
				 display: flex;
				 align-items: center;
				 flex-flow: row nowrap;
				 justify-content: space-around;

				 border: $filter-border solid 1px;
				 border-radius: 24px;
				 margin: 2px;
				 padding: 4px 8px;
				 font-size: 0.8rem;

				 &__input {
					 display: none;
				 }

				 &__timesIcon {
					 margin: 0 2px;
				 }

				 &:hover, &__label:hover, &__input:hover {
					 cursor: pointer;
				 }

				 &--selected {
					 border: $filter-color-selected solid 1px;
					 background-color: $filter-color-selected;
				 }

				 &__label {
					 margin-left: 4px;
					 whitespace: nowrap;
				 }
			 }
		 }
	 }
 }
</style>

<script setup>
 import { computed } from 'vue';

 const props = defineProps({
	 searchTerm: String,
	 categories: Array,
	 conditions: Array,
	 categoriesSelected: Array,
	 conditionsSelected: Array
 });

 const emit = defineEmits([
	 'searchClicked',
	 'categoryClicked',
	 'conditionClicked',
	 'update:searchTerm'
 ]);


 function handleConditionClicked(event) {
	 emit('conditionClicked', event.target.value);
 }

 function handleCategoryClicked(event) {
	 emit('categoryClicked', event.target.value);
 }

 function handleSearchClicked() {
	 emit('searchClicked');
 }

 function handleSearchInput(event) {
	 emit('update:searchTerm', event.target.value);
 }
</script>
