<template>
	<table class="table">
		<thead class="table__header">
			<tr class="table__header__row">
				<th class="table__header__row__cell"></th>
				<th class="table__header__row__cell" data-column="part">Part Number</th>
				<th class="table__header__row__cell" data-column="barcode_num">OEM PN</th>
				<th class="table__header__row__cell" data-column="des">Description</th>
				<th class="table__header__row__cell" data-column="con">CON</th>
				<th class="table__header__row__cell" data-column="category">Category</th>
				<th class="table__header__row__cell table__header__row__cell--number" data-column="price">Price</th>
				<th class="table__header__row__cell table__header__row__cell--number" data-column="qty">QTY</th>
				<th class="table__header__row__cell table__header__row__cell--number" data-column="tot">Total</th>
				<th class="table__header__row__cell" data-column="bin">Bin</th>
			</tr>
		</thead>
		<tbody class="table__body">
			<tr v-for="item in items" class="table__body__row" :key="item.part" @click.stop="handleRowClicked">
				<td class="table__body__row__cell">
					<button type="button" class="table__body__row__cell__copyButton"
							@click.stop="handleCopyButtonClicked">
						<FontAwesomeIcon icon="copy" /> Copy
					</button>
				</td>
				<td class="table__body__row__cell" data-column="part">
					<span class="table__body__row__cell__text" @click.stop="handleCellTextClicked">
						{{ item.part }}
					</span>
				</td>
				<td class="table__body__row__cell" data-column="barcode_num">
					<span class="table__body__row__cell__text" @click.stop="handleCellTextClicked">
						{{ item.barcode_num }}
					</span>
				</td>
				<td class="table__body__row__cell" data-column="des">
					<span class="table__body__row__cell__text" @click.stop="handleCellTextClicked">
						{{ item.des }}
					</span>
				</td>
				<td class="table__body__row__cell" data-column="con">
					<span class="table__body__row__cell__text" @click.stop="handleCellTextClicked">
						{{ item.con }}
					</span>
				</td>
				<td class="table__body__row__cell" data-column="category">
					<span class="table__body__row__cell__text" @click.stop="handleCellTextClicked">
						{{ item.category }}
					</span>
				</td>
				<td class="table__body__row__cell table__body__row__cell--number" data-column="price"
					@click.stop="handleCellTextClicked">
					<span class="table__body__row__cell__text">
						${{ item.price }}
					</span>
				</td>
				<td class="table__body__row__cell table__body__row__cell--number" data-column="qty"
					@click.stop="handleCellTextClicked">
					<span class="table__body__row__cell__text">
						{{ item.qty }}
					</span>
				</td>
				<td class="table__body__row__cell table__body__row__cell--number" data-column="tot"
					@click.stop="handleCellTextClicked">
					<span class="table__body__row__cell__text">
						${{ item.total }}
					</span>
				</td>
				<td class="table__body__row__cell" data-column="bin">
					<span class="table__body__row__cell__text" @click.stop="handleCellTextClicked">
						{{ item.bin }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<style scoped lang="scss">
 $accent-color: #222f3e;
 $text-white: #eee;
 $button-color: #2A4954;
 
 @-moz-document url-prefix() {
	 .table {
		 overflow: hidden;
	 }
 }
 
 .table {
	 width: 80vw;
	 min-width: 640px;
	 margin: 8px auto 12px auto;
	 font-size: 0.9rem;
	 box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
	 margin-top: 36px;
	 padding-top: 12px;
	 border-radius: 12px;
	 border-collapse: collapse;


	 &__header {
		 background-color: $accent-color;
		 color: $text-white;
		 position: sticky;
		 top: 30px;

		 &__row {
			 &:first-child { border-top-left-radius: 12px; }

			 &:last-child { border-top-right-radius: 12px; }
			 
			 &__cell {
				 &:first-child { border-top-left-radius: 12px; }
				 &:last-child { border-top-right-radius: 12px; }

				 &:not([data-column=des]) {
					 text-align: center;
				 }

				 &--number {
					 text-align: right;
				 }
			 }
		 }
	 }

	 &__body {
		 &__row {
			 &:hover {
				 cursor: pointer;
			 }
			 
			 .table .table__body &--selected {
				 background-color: #2A4954;

				 & * {
					 color: #eee;
					 font-weight: 600;
				 }
			 }

			 &:nth-of-type(odd) {
				 background-color: #e0e7ee;
			 }

			 &__cell {
				 &--number {
					 text-align: right;
				 }

				 &:not([data-column=des]) {
					 text-align: center;
				 }



				 &__text {
					 &:hover {
						 cursor: copy;
					 }
				 }

				 &__copyButton {
					 background-color: #00000000;
					 border: none;
					 color: #254A4A;
					 border-radius: 8px;

					 &:hover {
						 background-color: #0000000a;
					 }
				 }
			 }
		 }
	 }
 }
</style>

<script setup>
 const props = defineProps({
	 items: Array
 });

 const emit = defineEmits([
	 'tableRowClicked',
	 'tableCopyFieldClicked'
 ]);

 function handleRowClicked(event) {
	 const row = event.target.closest('.table__body__row');
	 const selected = 'table__body__row--selected';

	 if (row.classList.contains(selected)) {
		 row.classList.remove(selected);
	 } else {
		 row.classList.add(selected);
	 }

	 emit('tableRowClicked', row.rowIndex - 1)
 }

 function handleCopyButtonClicked(event) {
	 const row = event.target.closest('.table__body__row');
	 const price = row.querySelector('.table__body__row__cell[data-column="price"]')
					.querySelector('.table__body__row__cell__text')
					.innerHTML;
	 const con = row.querySelector('.table__body__row__cell[data-column="con"]')
					.querySelector('.table__body__row__cell__text')
					.innerHTML;
	 const part = row.querySelector('.table__body__row__cell[data-column="part"]')
					.querySelector('.table__body__row__cell__text')
					.innerHTML;
	 const des = row.querySelector('.table__body__row__cell[data-column="des"]')
					.querySelector('.table__body__row__cell__text')
					.innerHTML;
	 const qty = row.querySelector('.table__body__row__cell[data-column="qty"]')
					.querySelector('.table__body__row__cell__text')
					.innerHTML;

	 const fieldText = `${price}\t${con}\t${des} - ${qty} qty`;

	 emit('tableCopyFieldClicked', fieldText);
 }

 function handleCellTextClicked(event) {
	 const text = event.target.closest('.table__body__row__cell__text').innerHTML;

	 emit('tableCopyFieldClicked', text);
 }
</script>